

/*concernera l'affichage pour les smartphones */

@media(max-width : 768px){
    .navigation .logo{
        flex: 30%;
        margin-top: .5rem;
    }
  
    .navigation .nav-principale{
        flex: 100%;
        text-align: center;
        margin-top: 1rem;
        order: 3;
    }
    .navigation .infos{
        flex: 70%;
        text-align: center;
        order: 2;
    }
}






/*------------------------------------------------------------------------------*/
/*concernera l'affichage pour les tablettes */

@media(max-width : 992px){

    .navigation .logo{
        flex: 20%;
        text-align: left;
        margin: 1rem 0 0 1rem;
        order: 1;
    }
  
    .navigation .nav-principale{
        flex: 100%;
        text-align: center;
        margin-top: 1rem;
        order: 3;
    }
    
    .navigation .infos{
        flex: 70%;
        text-align: right;
        order: 2;
    }
    
}






/*------------------------------------------------------------------------------*/
/*concernera l'affichage pour les ordis portables (laptops) */
@media(max-width : 1200px){
    
}





/*------------------------------------------------------------------------------*/
/* concernera l'affichage pour les desktops et plus (grands écrans) */

@media(min-width : 1200px){
    
}